PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password123
DB_NAME=aguafix_db

MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USER=tu_correo@gmail.com
MAIL_PASS=tu_app_password
MAIL_FROM="AguaFix Alertas <tu_correo@gmail.com>"
MAINTENANCE_EMAIL=cuadrilla_mantenimiento@municipio.gob